SECRET_KEY='^tkqk18z#5o$($)b$951md(ny10%jrk%s$)ha+npal8if@-=7k'
DEBUG=False
ALLOWED_HOSTS=*
DATABASE_NAME='db.sqlite3'
DB_NAME = 'clinicafisio'
DB_USER = 'root'
DB_PASSWORD = '...'
DB_HOST = 'localhost'
DB_PORT = '3306'
DB_USED='sqlite'