<form method="POST">
    {% csrf_token %}
    <label for="dia">Data (AAAA-MM-DD):</label>
    <input type="date" name="dia" required>
    <br>
    <label for="hora_inicio">Hora de Início:</label>
    <br>
    <input type="time" name="hora_inicio" required>
    <br>
    <label for="quantidade">Quantos horários?</label>
    <br>
    <input type="number" name="quantidade" min="1" value="1" required>
    <br>
    
    <button type="submit">Salvar Disponibilidade</button>
  </form>
  {% if erro %}
    <p style="color: red;">{{ erro }}</p>
  {% endif %}