{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <form class="login-container"  action="{% url 'login' %}" method="POST">{% csrf_token %}
        <h1>Login</h1>
        <label for="cpf">CPF:</label>
        <br>
        <input type="text" placeholder="000.000.000-00" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" maxlength="14"  inputmode="numeric" required>
        <br>
        <label for="senha">Senha:</label>
        <br>
        <input type="password" placeholder="Senha" name="senha" required>
        <br>
        <input type="submit" value="Logar">
        <br>
    </form>

    <div class="message">
        Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a>
    </div>

</body>
</html>